body{
    background-color: rgb(19, 19, 19);
}
div{
    background-color: white;
    border-radius: 50px;
    width: 700px;
    height: 50px;
    font-size: 30px;
    position: relative;
}
i{
    margin-left: 25px;
    margin-right: 35px;
}
.icon{
    position: absolute;
    right: 30px;
    transform: translate(0,5px);
}
.opacity{
    opacity: 0.5;
}